

<div class="container">
  <h2>Welcome to Tunecore Search</h2>
  <div id="search-terms">

  </div>

  <form id="search-form">
    <div class="form-group row" id="search-type">
    </div>
    <div class="form-group row" id="search-input-group">
      <label for="query-string" class="col-xs-4 col-form-label">Search terms:</label>
      <div id="search-box" class="col-xs-10">
        <input for='query-string' class="form-control" placeholder="Enter your search text here" id="query-string"></input>
      </div>
    </div><!-- form group: search-input-group -->

  </form> 

</div><!--container -->