<div class="container">

  <form role="form">
    <div class="form-group row" id="search-input-group">
      <label for="query-string" class="col-sm-4 col-form-label">I'm searching for:</label>
      <input type="search" id="query-string" class="form-control" placeholder="To look for multiple words/phrases, separate them with a comma."></input>
    </div>

    <div class="form-group row" id="search-options">
        <legend class="col-form-legend">Search options: </legend>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="searchOpts" id="default" value="default" checked>
            Default
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="searchOpts" id="custom" value="custom">
            Custom
          </label>
        </div>
    </div><!--search options selectors -->
    
    <div class="form-group row" id="inclusive-search" style="display:none;">
      <legend class="col-form-legend">Search only in these fields:</legend>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="artist-name" value="artist-name"></input>
          Artist Name
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="album-title" value="album-title"></input>
          Album Title
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="song-title" value="song-title"></input>
          Song Title
        </label>
      </div>
    </div><!--inclusive search options -->

    <div>

    </div><!--restrictive search options -->

    <%= button_tag "Search", type: "Submit",class: "btn btn-primary" %>

  </form>

  <div class="row" style="display: none;" id="search-results">

  </div>

</div><!--container -->

