<div class="container">
  <form role="form">

    <div class="form-group row" id="search-input-group">
      <label for="query-string" class="col-sm-4 col-form-label"></label>
      <input type="search" id="query-string"></input>
    </div>
    <div class="form-group row" id="search-options">

        <legend class="col-form-legend">Search options: </legend>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="searchOpts" id="default" value="default" checked>
            Default
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="searchOpts" id="custom" value="custom">
            Custom
          </label>
        </div>

        


    </div>

    <%= button_tag "Search", type: "Submit",class: "btn btn-primary" %>
  </form>

  <div class="row" style="display: none;" id="search-results">

  </div>

</div><!--container -->

