<h2>Welcome to Tunecore Search</h2>

<div class="container">
  <form id="search-form">
    <div class="form-group row" id="search-box">
      <label for="query-terms" class="col-xs-2 col-form-label">

      </label>
      <h1>test content</h1>

    </div><!-- search box/label -->


  </form> 

</div><!--container -->