<div class="container">
  <%= form_for :q do |f| %>

    <div class="form-group row" id="search-input-group">
  
    </div>
    <div class="form-group row" id="search-options">

        <p class="col-form-legend">Search options: </p>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <%= f.radio_button "default", "default"%>
            Default
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <%= f.radio_button :custom, "", class: "form-check-input"%>
            Custom
          </label>
        </div>

        


    </div>

    <%= button_tag "Search", type: "Submit",class: "btn btn-primary" %>
  <% end %>

  <div class="row" style="display: none;" id="search-results">

  </div>

</div><!--container -->

