<div class="container">
  <%= form_for :q do |f| %>

    <div class="form-group row" id="search-input-group">
  
    </div>
    <div class="form-group row" id="search-options">
      <p class="col-form-legend col-sm-2">Search options: </p>
      <div>
        <label>
          <%= f.radio_button :default, checked: true %>
        </label>
      </div>
        


    </div>

    <%= button_tag "Search", type: "Submit",class: "btn btn-primary" %>
  <% end %>

  <div class="row" style="display: none;" id="search-results">

  </div>

</div><!--container -->


